{#
  Home page

  @author: nico <hello@nusson.ninja>

#}
{% extends "components/Interface/template.twig" %}

{% block content %}
  <div data-cpt="Home" class="page -slug-{{ post.slug }}">

    {# Main content (without slideshows) #}
    {% block header %}
    {% endblock header %}

    {% block page_content %}
      {% if post._thumbnail_id %}
        {% set image = TimberImage(post._thumbnail_id) %}
        {% set imageSrc = getSizedSrc(image, 'auto') %}
        {% set styles = 'background-image:url(\''~imageSrc~'\');' %}
        {% set classes = '-illustrated' %}
      {% endif %}
      <section class="section section-main section-fixed">
        <div class="background img-wrapper _cover _full">
          <img src="{{ image.src }}"
            alt="{{ image.caption }}" />
        </div>
        <footer class="footer">
          <button class="scroll-indicator btn-arrow" data-scrollto=".section-content">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </button>
        </footer>
      </section>

      {% if post.items %}

        {# slideshows - would appear in place of header #}
        <section class="section section-content article">
          <div class="content">
            {{ post.content }}
          </div>
          <footer class="footer actions">
            {% for index in 0..(post.items-1) %}
              <button data-id="{{ index }}"
                class="cta button"
                data-scrollto=".section-second.--{{ index }}">{{ post.custom['items_'~index~'_title'] }}</button>
            {% endfor %}
          </footer>
        </section>

        {# slideshows - would appear in place of header #}
        {% set slideshowIndex = 0 %}
        {% for index in 0..(post.items-1) %}
          {# build an array of slides to adapt with our generic slideshow #}
          {% set images   = post.custom['items_'~index~'_images'] %}
          {% set content  = post.custom['items_'~index~'_content'] %}
          {% set slides = [] %}
          {% for index, img in images %}
            {% set slides = slides|merge([{image:img}]) %}
          {% endfor %}
          <section class="section section-second section-fixed --{{index}}">
            {% set slideshowIndex = slideshowIndex + 1 %}
            {{ block('slideshow') }}
          </section>
        {% endfor %}
      {% endif %}
    {% endblock page_content %}

  </div>
{% endblock %}

{% block slideshow %}
  <div class="slideshow -loading"
    data-cpt="Slideshow"
    data-index="{{ slideshowIndex }}">
    <div class="swiper-container">
      <ol class="swiper-wrapper">
        {% for index, slide in slides %}
          {#{{ dump(slide) }}#}
          {% set image = TimberImage(slide.image) %}
          {% set imageSrc = getSizedSrc(image, 'auto') %}
          <li data-id="{{ index }}"
            class="swiper-slide">
            {% if slide.content %}
              <header class="header">
                {{ slide.content }}
              </header>
            {% endif %}
            <div class="img-wrapper _cover _full">
              <img src="{{ imageSrc }}"
                alt="{{ image.caption }}" />
            </div>
          </li>
        {% endfor %}
      </ol>
      <div class="swiper-button-prev btn-arrow"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
      <div class="swiper-button-next btn-arrow"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
    </div>
  </div>
{% endblock %}
