{#
  Home page

  @author: nico <hello@nusson.ninja>

#}
{% extends "components/Interface/template.twig" %}

{% block content %}
  <div data-cpt="Home" class="page -slug-{{ post.slug }}">

    {# Main content (without slideshows) #}
    {% block header %}
    {% endblock header %}

    {% block page_content %}
      {# Create slides data for slideshow component #}
      {% set slides = [] %}
      {% for index, slide in 0..(post.slides-1) %}
        {% set content = '' %}
        {% set title    = post.custom['slides_'~index~'_title'] %}
        {% set subtitle = post.custom['slides_'~index~'_subtitle'] %}
        {% if title %}
          {% set content = '<h1>'~title~'</h1>' %}
        {% endif %}
        {% if subtitle %}
          {% set content = content~'<h2>'~subtitle~'</h2>' %}
        {% endif %}
        {% set slides   = slides|merge([{
          content:  content,
          image:    post.custom['slides_'~index~'_background']
        }]) %}
      {% endfor %}

      <section class="main-section">
        {{ block('slideshow') }}
        {# Buttons (if click, show slideshow) #}
        {% if post.items %}
          <div class="actions">
            {% for index in 0..(post.items-1) %}
              <button data-id="{{ index }}">{{ post.custom['items_'~index~'_title'] }}</button>
            {% endfor %}
          </div>
        {% endif %}
      </section>

      {% if post.items %}
        {# slideshows - would appear in place of header #}
        {% for index in 0..(post.items-1) %}
          {# build an array of slides to adapt with our generic slideshow #}
          {% set images   = post.custom['items_'~index~'_images'] %}
          {% set content  = post.custom['items_'~index~'_content'] %}
          {% set slides = [] %}
          {% for index, img in images %}
            {% set slides = slides|merge([{image:img}]) %}
          {% endfor %}

          <section class="second-section">
            <header class="header">
              {{ content }}
            </header>
            {{ block('slideshow') }}
          </section>
        {% endfor %}
      {% endif %}
    {% endblock page_content %}

  </div>
{% endblock %}

{% set slideshowIndex = 0 %}
{% block slideshow %}
  <div class="slideshow -loading"
    data-cpt="Slideshow"
    data-index="{{ slideshowIndex }}">
    <ol class="slides">
      {% for index, slide in slides %}
        {#{{ dump(slide) }}#}
        {% set image = TimberImage(slide.image) %}
        {#{{ dump(slide) }}#}
        <li data-id="{{ index }}"
          class="slide">
          {% if slide.content %}
            <header class="header">
              {{ slide.content }}
            </header>
          {% endif %}
          <div class="img-wrapper _cover _full">
            <img src="{{ image.src }}"
              alt="{{ image.caption }}" />
          </div>
        </li>
      {% endfor %}
    </ol>
    <button class="nav previous">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </button>
    <button class="nav next">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </button>
    <ol class="nav bullets">
      {% for index, slide in slides %}
        <button class="bullet" data-id="{{ index }}">-</button>
      {% endfor %}
    </ol>
  </div>
{% endblock %}

{% block slideshow_old %}
  <article class="slideshow">
    {% if content %}
      <header class="header">
        {{ content }}
      </header>
    {% endif %}
    <ol class="slides">
      {% for index, image in images %}
        {% set img = TimberImage(image) %}
        <li data-id="{{ index }}"
          class="slide">
          <img src="{{ img.src }}"
            alt="{{ img.caption }}" />
          {#{{ dump(img) }}#}
        </li>
      {% endfor %}
    </ol>
    <button class="previous">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </button>
    <button class="next">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </button>
    <ol class="bullets">
      {% for index, image in images %}
        <button data-id="{{ index }}">-</button>
      {% endfor %}
    </ol>
  </article>
{% endblock %}
