{#
  Header component
  in desktop = left sidebar

  @todo if mobile pannel hidden

  @author: nico <hello@nusson.ninja>
#}

{% set mobile = 'false' %}

<header data-cpt="Header">
  <div class="pannel"
    aria-hidden="{{ mobile }}">
    <a href="/{{lang}}"
      class="logo"
      title="{{ pll__('LOGO_LINK_TITLE') }}">
      <img src=""
        alt="{{ pll__('LOGO_ALT') }}">
    </a>

    <nav role="navigation"
      class="menu -primary">
      <ol class="menu-list">
        {% for item in menus['primary'].get_items %}
          <li class="item">
            {% set title=(item.attr_title != '')? item.attr_title : item.title %}
            <a href="{{ item.get_link }}"
              class="link {{ item.class }}"
              title="{{ title }}"
              target="{{ item.target }}">
              <span class="text">{{ item.title }}</span>
            </a>
          </li>
        {% endfor %}
      </ol>
    </nav>
  </div>

  <button class="menu-button"
    aria-hidden="{{ not mobile }}">|||</button>
</header>
